In [33]:
import sqlite3
connection=sqlite3.connect('example.db')

cursor=connection.cursor()

In [63]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees(
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT 
    )
''')

cursor.execute('''
    INSERT INTO employees(name,age,department)
            VALUES('Ankit','23','CSE'),
            ('Vaishu',22,'CSE')
''')
connection.commit()
cursor.execute('''
    SELECT * FROM employees
''')

rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ankit', 23, 'CSE')
(2, 'Vaishu', 22, 'CSE')

In [62]:
cursor.execute("DELETE FROM employees")
cursor.execute('''
    SELECT * FROM employees
''')

rows=cursor.fetchall()
for row in rows:
    print(row)