In [1]:
import sqlite3
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in c:\users\ankit\documents\anaconda\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\ankit\documents\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

In [3]:
def create_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' created successfully.")

# Test the function
create_table()

Table 'employees' created successfully.

In [4]:
def insert_employee(id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        INSERT INTO employees (id, name, age, department)
        VALUES (?, ?, ?, ?)
    ''', (id, name, age, department))
    conn.commit()
    conn.close()
    print("Employee inserted successfully.")

# Test the function
insert_employee(1, 'Alice', 30, 'HR')
insert_employee(2, 'Bob', 25, 'Engineering')
insert_employee(3, 'Charlie', 28, 'Sales')
insert_employee(4, 'David', 35, 'Marketing')
insert_employee(5, 'Eve', 22, 'HR')

Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.

In [6]:
conn=sqlite3.connect('test.db')
cursor=conn.cursor()
cursor.execute('SELECT * FROM employees')
rec=cursor.fetchall()
conn.commit()
conn.close()
for r in rec:
    print(r)

(1, 'Alice', 30, 'HR')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

In [24]:
def fetch_employees_by_department(department):
    conn=sqlite3.connect('test.db')
    cursor=conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE department=?',(department,))
    rec=cursor.fetchall()
    conn.commit()
    conn.close()
    for r in rec:
        print(r)

fetch_employees_by_department('HR')

(5, 'Eve', 22, 'HR')

In [25]:
def update_employee_department(employee_id, new_department):
    conn=sqlite3.connect('test.db')
    cursor=conn.cursor()
    cursor.execute(
        ''' 
        UPDATE employees
        SET department=?
        WHERE id=?
''',(new_department,employee_id)
    )
    conn.commit()
    conn.close()

update_employee_department(1,'HR')

OperationalError: database is locked

In [5]:
employ_id=3
conn=sqlite3.connect('test.db')
cursor=conn.cursor()
cursor.execute('''
    DELETE FROM employees WHERE id=2
''')
conn.commit()
cursor.close()