In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
# df.head(5)
df.tail(5)
df.describe()
df.isnull()
df.isnull().any()
df.isnull().any(axis=1)
df.drop(0,inplace=True)
dff=df.fillna(0)
df['Sales_filled_NA']=df['Sales'].fillna(df['Sales'].mean())
# not working rename
df.rename({'Date':'OrderDate'})     
print(df)

In [ ]:
df.dtypes
print(df)

In [ ]:
df.rename({'Date':'OrderDate'})
print(df)

In [3]:
df2=pd.read_csv('sales1_data.csv')
df2.rename(columns={'Date':'None'})
df2['newSales']=df2['Sales'].fillna(df2['Sales'].mean())
print(df2)

          Date   Product  Sales Region  newSales
0   2023-01-01  Product3  738.0   West     738.0
1   2023-01-02  Product2  868.0  North     868.0
2   2023-01-03  Product2  554.0   West     554.0
3   2023-01-04  Product1  618.0  South     618.0
4   2023-01-05  Product3  501.0   East     501.0
5   2023-01-06  Product1    NaN   West     554.0
6   2023-01-07  Product3  339.0  South     339.0
7   2023-01-08  Product3  280.0  South     280.0
8   2023-01-09  Product2  806.0  North     806.0
9   2023-01-10  Product2  816.0  South     816.0
10  2023-01-11  Product3  469.0   West     469.0
11  2023-01-12  Product3    NaN   East     554.0
12  2023-01-13  Product3    NaN   East     554.0
13  2023-01-14  Product3  676.0   East     676.0
14  2023-01-15  Product1  183.0  South     183.0
15  2023-01-16  Product1  424.0  South     424.0
16  2023-01-17  Product1    NaN  South     554.0
17  2023-01-18  Product1    NaN  South     554.0
18  2023-01-19  Product2  124.0  North     124.0
19  2023-01-20  Product3  732.0   West     732.0
20  2023-01-21  Product2    NaN   West     554.0
21  2023-01-22  Product3  296.0   West     296.0
22  2023-01-23  Product2  737.0   West     737.0
23  2023-01-24  Product3  531.0   East     531.0
24  2023-01-25  Product2  834.0  North     834.0

In [ ]:
df2['square_Sales']=df2['Sales'].apply(lambda x:x**2)
print(df2)

In [68]:
grouped_mean=df.groupby(['Product','Region'])['Value'].mean()
print(grouped_mean)

Product   Region
Product1  East      44.000000
          North      4.500000
          South     50.000000
          West      82.000000
Product2  East      28.000000
          North     63.500000
          South     60.333333
          West      53.500000
Product3  East      50.500000
          North     40.600000
          South     71.666667
          West      62.166667
Name: Value, dtype: float64

In [73]:
group_mean=df2.groupby(['Product','Region'])['Sales'].sum()
print(group_mean)

Product   Region
Product1  South     1225.0
          West         0.0
Product2  North     2632.0
          South      816.0
          West      1291.0
Product3  East      1708.0
          South      619.0
          West      2235.0
Name: Sales, dtype: float64

In [75]:
group_agg=df.groupby('Region')['Value'].agg(['mean','sum','count'])
print(group_agg)

             mean     sum  count
Region
East    43.500000   522.0     12
North   37.666667   339.0      9
South   62.000000   496.0      8
West    61.588235  1047.0     17