In [28]:
import numpy as np
import pandas as pd
df=pd.DataFrame(np.random.randint(1,100,size=(4,4)),columns=['A','B','C','D'])
df
dff=df.set_index('A')
print(dff)

     B   C   D
A
17   4  26  63
28  84  33   2
97  36  13  81
13  17  35  67

In [22]:
df=pd.DataFrame(np.random.randint(1,100,size=(3,3)),columns=['A','B','C'],index=['X','Y','Z'])
df

    A   B   C
X  70  35  98
Y  34  60  25
Z  75  26  62

In [26]:
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)
df['D']=df['A']*df['B']
df

Original DataFrame:
    A   B   C
0  98  70  10
1  87  71   9
2  75  76  25
3  66  23  89
4  68   7  63

    A   B   C     D
0  98  70  10  6860
1  87  71   9  6177
2  75  76  25  5700
3  66  23  89  1518
4  68   7  63   476

In [35]:
df=pd.DataFrame({'Category':np.random.choice(['A','B','C'],size=10),'Value':np.random.randint(1,10,size=10)})
print(df)
# kk=df.groupby('Category')['Value'].agg(['sum','mean'])

  Category  Value
0        B      5
1        B      8
2        A      2
3        C      1
4        B      4
5        A      4
6        C      8
7        B      7
8        A      2
9        C      4

          sum      mean
Category
A           8  2.666667
B          24  6.000000
C          13  4.333333

In [63]:
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'B': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print(df1)
print(df2)
kk=pd.merge(df1,df2)
kk

    A   B
0  16  21
1  89  51
2  34  91
    B   D
0  51  52
1  12  11
2  46  26

    A   B   D
0  89  51  52

In [127]:
date_rng=pd.date_range(start='2024-01-01',end='2024-01-31',freq='D')
df=pd.DataFrame(date_rng,columns=['date'])
df['data']=np.random.randint(0,100,size=(len(date_rng)))
df.set_index('date',inplace=True)
# print(df)

monthly_mean=df.resample('ME').mean()
print("Monthly mean DF:")
# print(monthly_mean)

rolling_mean=df.rolling(window=7).mean()
print(rolling_mean)

Monthly mean DF:
                 data
date
2024-01-01        NaN
2024-01-02        NaN
2024-01-03        NaN
2024-01-04        NaN
2024-01-05        NaN
2024-01-06        NaN
2024-01-07  50.714286
2024-01-08  49.714286
2024-01-09  49.000000
2024-01-10  47.714286
2024-01-11  54.428571
2024-01-12  55.285714
2024-01-13  52.000000
2024-01-14  42.857143
2024-01-15  47.857143
2024-01-16  50.142857
2024-01-17  52.000000
2024-01-18  53.285714
2024-01-19  42.428571
2024-01-20  44.285714
2024-01-21  55.428571
2024-01-22  53.428571
2024-01-23  59.428571
2024-01-24  63.428571
2024-01-25  51.142857
2024-01-26  63.285714
2024-01-27  65.857143
2024-01-28  52.714286
2024-01-29  62.000000
2024-01-30  62.571429
2024-01-31  63.714286

In [83]:
array = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index=pd.MultiIndex.from_arrays(array,names=('Category','SubCategory'))
df=pd.DataFrame(np.random.randint(1,100,size=(4,3)),index=index, columns=['Val1','Val2','Val3'])
print("multiIndex DF")
print(df)
# print(df.loc['A'])

multiIndex DF
                      Val1  Val2  Val3
Category SubCategory
A        one            32    33    32
         two            44    79     1
B        one            89    43    50
         two            84    25    32
             Val1  Val2  Val3
SubCategory
one            32    33    32
two            44    79     1

In [97]:
array = [['A', 'A','A', 'A', 'B', 'B','B', 'B'], ['one','one', 'two','two', 'one','one', 'two','two'],np.random.randint(1,9,size=8)]
index=pd.MultiIndex.from_arrays(array,names=('Category','SubCategory','subsubCategory'))
df=pd.DataFrame(np.random.randint(1,100,size=(8,3)),index=index, columns=['Val1','Val2','Val3'])
print("multiIndex DF")
print(df)

sum_values=df.groupby(['Category','SubCategory']).sum()
print(sum_values)

multiIndex DF
                                     Val1  Val2  Val3
Category SubCategory subsubCategory
A        one         1                 90    44    49
                     2                 43    42    60
         two         3                 60    71    79
                     8                 57    11    21
B        one         4                 39    70    97
                     2                 50    54    72
         two         4                 33    72    44
                     7                 55    73    39
                      Val1  Val2  Val3
Category SubCategory
A        one           133    86   109
         two           117    82   100
B        one            89   124   169
         two            88   145    83

In [99]:
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-09        B     45
1  2022-01-08        B     35
2  2022-01-10        B     53
3  2022-01-08        A     56
4  2022-01-05        C     65
5  2022-01-06        B      3
6  2022-01-10        B      7
7  2022-01-01        B     44
8  2022-01-03        A     83
9  2022-01-01        B     78
10 2022-01-08        B     85
11 2022-01-02        A     54
12 2022-01-04        B     70
13 2022-01-06        C     77
14 2022-01-05        B     63
15 2022-01-08        A     56
16 2022-01-09        B     82
17 2022-01-03        C     67
18 2022-01-06        B     71
19 2022-01-05        A     54
Pivot Table:
Category        A      B     C
Date
2022-01-01    NaN  122.0   NaN
2022-01-02   54.0    NaN   NaN
2022-01-03   83.0    NaN  67.0
2022-01-04    NaN   70.0   NaN
2022-01-05   54.0   63.0  65.0
2022-01-06    NaN   74.0  77.0
2022-01-08  112.0  120.0   NaN
2022-01-09    NaN  127.0   NaN
2022-01-10    NaN   60.0   NaN

In [100]:
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print(df)
pivot_table=df.pivot_table(values='Revenue',columns='Quarter',index='Year',aggfunc='mean')
print(pivot_table)

    Year Quarter  Revenue
0   2020      Q1      332
1   2020      Q4      578
2   2021      Q4      342
3   2020      Q4      616
4   2021      Q4       66
5   2021      Q3      221
6   2021      Q4      480
7   2021      Q3      483
8   2022      Q3      120
9   2020      Q2       26
10  2021      Q2      386
11  2021      Q4       14
Quarter     Q1     Q2     Q3     Q4
Year
2020     332.0   26.0    NaN  597.0
2021       NaN  386.0  352.0  225.5
2022       NaN    NaN  120.0    NaN

In [105]:
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

doubled=df.apply(lambda x:x*2)
print(doubled)

dd=df.map(lambda x:x*2)
print(dd)

df['sum']=df.apply(lambda row:row.sum(),axis=1)
print(df)

Original DataFrame:
    A   B   C
0  13  95  91
1  26  29   7
2  62  46  56
3  77  24  12
4  67  22  61
     A    B    C
0   26  190  182
1   52   58   14
2  124   92  112
3  154   48   24
4  134   44  122
     A    B    C
0   26  190  182
1   52   58   14
2  124   92  112
3  154   48   24
4  134   44  122
    A   B   C  sum
0  13  95  91  199
1  26  29   7   62
2  62  46  56  164
3  77  24  12  113
4  67  22  61  150